
html, button, input, select, textarea {
    color: #444;
    }

    html { 
    font-size: 1em;
    line-height: 1.4;
 }


#wrapper {
    position: relative;
    max-width: 900px;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#wrapper .left-side{
    position: relative;
}

#wrapper .right-side{
    position: relative;
}
h1,h2{
    font-family: tuppence, serif;
    font-style: normal;
    font-weight: 200;
    text-align: center;
    color: #800080;
}
h3 {
    font-family: acumin-pro, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    font-weight: bold;
    color: #4B0082;

}
img{
    outline: 1px;
    width: 200px;
    outline-color: #ccc;
    border-radius: 3px ;     
    align-items: right;
    box-shadow: 5px 2px 2px black;
}
.information {
    list-style: none;
    padding-top:20%; 
    padding-bottom: 10%;
    padding-left: 25%
;}
footer{
    text-align:center;
}
a{
    text-decoration : none;
    padding-right: 5%;
    color: black;
}
i {
    color : #4B0082;
}
dt {
    font-weight: bold;
}

